body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #757575;
}

/* top part */
.heading {
    background-image: linear-gradient(rgba(97, 114, 85, 0.486), rgba(214, 214, 193, 0.664));
}

.dark-color {
    color: black;
}

h3 {
    font-size: 40px;
}

h1 {
    font-size: 60px;
}

.margin-included {
    font-size: 25px;
    margin-bottom: 40px;
}

.link-btn {
    background-color: #FD6E0A;
    padding: 5% 15%;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;

}

.top-banner {
    display: flex;
    margin: 0 250px;

}

/* about me */
.about {
    text-align: center;
    margin: 8%;
    padding: 8%;
    background-color: #FFF8F3;
}


.profile {
    display: flex;
    justify-content: center;
}

.single-info {
    margin: 0 20px;
}

/* what i do */
.what-i-do {
    text-align: center;
    background-color: #ece3e3a1;
    margin: 8%;
    padding: 20px;
    border-radius: 20px;
}

.work-to-do {
    display: flex;

}

.what-i-do div {

    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.item {
    display: float;
}

.link-btn:hover {
    background-image: linear-gradient(to left, gray, purple);
    color: white;
}